<%= form_with(model: [screencast,quiz], local: true) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :no, "Сложность(1-10)"%>
    <%= form.text_field :no, id: :quiz_no , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :question, "Вопрос" %>
    <%= form.text_area :question, id: :quiz_question , class:"form-control",cols:40,rows:3 %>
  </div>
  <div class="field form-group">
    <div class="checkbox-inline">
      <%= form.check_box :isformula%>
      <%= form.label :isformula, "Формула" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :details,"Детали вопроса" %>
    <%= form.text_area :details, id: :quiz_details, class:"form-control",:cols => 40, :rows => 10 %>
  </div>

  <div class="field form-group">
    <%= form.label :score,"Балл" %>
    <%= form.number_field :score, id: :quiz_score, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :opts, "Варианты ответов(каждый вариант отдельной строкой)" %>
    <%= form.text_area :opts, id: :opts, class:"form-control",:cols => 40, :rows => 6 %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить", class:"btn btn-outline-primary" %>
    <%= link_to 'Отмена',screencast||quiz,class:"btn btn-outline-primary" %>
  </div>
<% end %>
