<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
    <%= @quiz.no%>. <%= @quiz.question%>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p><strong>Урок:</strong> <%= link_to @quiz.screencast.name, @quiz.screencast %></p>
    <p><strong>Детали вопроса:</strong> <%= @quiz.details %></p>
    <p><strong>Балл:</strong> <%= @quiz.score %></p>
    <div class="clearfix">
      <%= link_to 'Редактировать', edit_quiz_path(@quiz), class:"btn btn-outline-primary"%> 
      <%= link_to 'Вернуться в урок', @quiz.screencast, class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
<br/>

<div class="card">
  <div class="card-header">Варианты ответов</div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th></th>
          <th>Вариант ответа</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @quiz.options.each do |option| %>
          <tr>
            <td><%= option.correct ? "Правильный" : "-" %></td>
            <td><%= option.value %></td>
            <td><%= link_to 'Изменить', edit_option_path(option) %></td>
            <td><%= link_to 'Удалить', [option.quiz,option], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Новый вариант ответа', new_quiz_option_path(@quiz), class:"btn btn-outline-secondary" %>
  </div>
</div>
<div class="card">
  <div class="card-header">Рисунки к вопросу</div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th>Название</th>
          <th>Рисунок</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @quiz.imgs.each do |img| %>
          <tr>
            <td><%= img.title %></td>
            <td><%= image_tag img.img.url(:thumb) %></td>
            <td><%= link_to 'Редактировать', edit_img_path(img) %></td>
            <td><%= link_to 'Удалить', [img.quiz,img], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Новый рисунок', new_quiz_img_path(@quiz), class:"btn btn-outline-secondary" %>
  </div>
</div>
