<%= form_with(model: [@prob,@opt], local: true) do |form| %>
  <% if @opt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opt.errors.count, "error") %> prohibited this opt from being saved:</h2>

      <ul>
        <% @opt.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :value,"Вариант ответа" %>
    <%= form.text_field :value, id: :opt_value , class:"form-control"%>
  </div>

  <div class="field form-group">
    <div class="checkbox-inline">
      <%= form.check_box :correct%>
      <%= form.label :correct, "Павильный" %>
    </div>
  </div>
  <div class="field form-group">
    <div class="checkbox-inline">
      <%= form.check_box :isformula%>
      <%= form.label :isformula, "Формула" %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Сохранить", class:"btn btn-outline-primary" %>
    <%= link_to 'Отмена', @opt.prob, class:"btn btn-outline-primary" %>
  </div>
<% end %>
