<%= form_with(model: [@quiz,@img], local: true) do |form| %>
  <% if @img.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(img.errors.count, "error") %> prohibited this img from being saved:</h2>

      <ul>
        <% @img.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :img,"Рисунок" %>
    <%= form.file_field :img, id: :img_img , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :title,"Название" %>
    <%= form.text_field :title, id: :img_title , class:"form-control"%>
  </div>
  <div class="actions">
    <%= form.submit "Сохранить", class:"btn btn-outline-primary" %>
    <%= link_to 'Отмена',@img.quiz,class:"btn btn-outline-primary" %>
  </div>
<% end %>
