<%= form_with(model: testing, local: true) do |form| %>
  <% if testing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testing.errors.count, "error") %> prohibited this testing from being saved:</h2>

      <ul>
        <% testing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name,'Название'  %>
    <%= form.text_field :name, id: :testing_name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :lang,'Язык обучения(0-кыр.1-рус.)' %>
    <%= form.text_field :lang, id: :testing_lang, class:"form-control" %>
  </div>
  <div class="field form-group">
    <div class="checkbox-inline">
      <%= form.check_box :free%>
      <%= form.label :free, "Открытый доступ" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :description,'Описание'  %>
    <%= form.text_area :description, id: :testing_description , class:"form-control" ,:cols => 40, :rows => 6 %>
  </div>
  <div class="field form-group">
    <%= form.label :duration,'Длительность в мин.' %>
    <%= form.text_field :duration, id: :testing_duration, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить", class:"btn btn-outline-primary" %>
    <%= link_to 'Отмена', testings_path,class:"btn btn-outline-primary" %>
  </div>
<% end %>
