<p id="notice"><%= notice %></p>

<h1>Список пробных тестов</h1>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Язык обучения</th>
      <th>Доступ</th>
      <th>Длительность</th>
      <th>Описание</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testings.each do |testing| %>
      <tr>
        <td><%= testing.name %></td>
        <td><%= testing.lang==0 ? "Кыргызча" : "Русский" %></td>
        <td><%= testing.free ? "открытый" : "закрытый"%></td>
        <td><%= testing.duration %> мин.</td>
        <td><%= testing.description %></td>
        <td><%= link_to 'Открыть', testing %></td>
        <td><%= link_to 'Редактировать', edit_testing_path(testing) %></td>
        <td><%= link_to 'Удалить', testing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый пробный тест', new_testing_path %>
