<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
    <%= @testing.name %>
  </div>
  <div class="card-body">
    <p class="card-text">Язык обучения: <%= @testing.lang==0 ? "Кыргызча" : "Русский" %></p>
    <p class="card-text">Доступ: <%= @testing.free ? "открытый" : "закрытый"%></p>
    <p class="card-text">Длительность : <%= @testing.duration %> мин.</p>
    <p class="card-text">Описание: <%= @testing.description %></p>
    <div class="clearfix">
      <%= link_to 'Редактировать', edit_testing_path(@testing), class:"btn btn-outline-primary"%> 
      <%= link_to 'Вернуться в список пробных тестов', testings_path, class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
<br/>

<div class="card">
  <div class="card-header">
    Вопросы и инструкции 
  </div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th>#</th>
          <th>Вопрос/текст</th>
          <th>Рис.</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @testing.probs.order(:no).each do |prob| %>
          <tr>
            <td><%= prob.no %><small><%= prob.isinstruction ? "Инсi" : "Воп" %></small></td>
            <td style="max-witdh:300px"><%= prob.question %><br><b>Детали</b><br><%= prob.details %></td>
            <td><%= image_tag prob.img.url(:thumb) %></td>
            <td>
              <% if !prob.isinstruction %>
                <%= link_to 'Варианты ответов', prob %>
                <% prob.opts.each do |opt| %>
                  <br>
                  <%= (opt.correct ? "+ " : "- ") + opt.value %>
                <% end %>
              <% end %>
              </td>
            <td><%= link_to 'Изменить', edit_prob_path(prob) %><br><%= link_to 'Удалить', [@testing,prob], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %> </tbody>
    </table>
    <%= link_to 'Новый вопрос', new_testing_prob_path(@testing) ,class:"btn btn-outline-secondary" %>
  </div>
</div>
<br>

