<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= link_to 'Новый пользователь', new_user_path,class:"btn btn-outline-primary" %>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Номер тел.</th>
      <th>ФИО</th>
      <th>Яз.обучения</th>
      <th>Оплаты</th>
      <th>Дата регистрации</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @users.each do |user| %>
      <%region = Region.find_by(id:user.region)%>
      <%school = School.find_by(id:user.district)%>
      <tr bgcolor='<%= user.full_access ? "#AED581" : "white"%>'>
        <td><%=i%></td>
        <td><span style='color:<%= user.approved ? "black" : "red"%>'><%= user.username %></span></td>
        <td><%= user.fullname %><br/><%= user.email %></td>
        <td><%= user.lang==0 ? "KG" : "RU"%></td>
        <td>
          <% user.payments.each do |payment| %>
            <%="сумма:#{payment.summa} дата:#{payment.txn_date}"%></br>
        <% end %>
        </td>
        <td>
          district: <%= region && region.name %></br>
          region: <%= school && school.name %></br>
        </td>
        <td><small><%= user.created_at%></small></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% i = i + 1 %>
    <% end %>
  </tbody>
</table>
