<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
   User 
  </div>
  <%region = Region.find_by(id:@user.region)%>
  <%school = School.find_by(id:@user.district)%>
  <div class="card-body">
    <% if @user.photo %>
      <%= image_tag @user.photo.url %>
    <% end %>
    <h5 class="card-title">fullname: <%= @user.fullname %></h5>
    <p class="card-text">username: <%= @user.username %></p>
    <p class="card-text">email: <%= @user.email %></p>
    <p class="card-text">phone: <%= @user.phone %></p>
    <p class="card-text">lang: <%= @user.lang %></p>
    <p class="card-text">district: <%= region && region.name %></p>
    <p class="card-text">region: <%= school && school.name %></p>
    <div class="clearfix">
      <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-outline-primary" %> 
      <%= link_to 'Back', users_path , class:"btn btn-outline-primary"%>
    </div>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header">
    COURSES OF <%=@user.fullname%> 
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Lang</th>
          <th>Name</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @user.userCourses.each do |userCourse| %>
          <tr>
            <td><%= image_tag userCourse.course.logo.url(:thumb) %></td>
            <td><%= userCourse.course.subject.lang==0?"KG":"RU" %></td>
            <td><%= userCourse.course.name %></td>
            <td><%= userCourse.course.description %></td>
            <td><%= link_to 'Destroy', remove_course_path(@user.id,userCourse.id), data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
    <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Добавить курс 
    </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Logo</th>
              <th>Lang</th>
              <th>Name</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @courses.each do |course| %>
              <tr>
                <td><%= image_tag course.logo.url(:thumb) %></td>
                <td><%= course.subject.lang==0?"KG":"RU" %></td>
                <td><%= course.name %></td>
                <td><%= course.description %></td>
                <td><%= link_to 'Select', add_course_path(@user.id, course.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    PROGRESS  
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>SectionName</th>
          <th>score</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @user.sectionProgresses.each do |section_progress| %>
          <% section = Section.find(section_progress.section_id) %>
          <tr>
            <td><%= image_tag section.course.logo.url(:thumb) %></td>
            <td><%= section.name %></td>
            <td><%= section_progress.score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
