<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
    <%=@section.no %>. <%= @section.name %>
  </div>
  <div class="card-body">
    </h5>
    <p class="card-text">Секция курса: <%=link_to @section.course.name,@section.course %></p>
    <p class="card-text">Описание: <%= @section.description %></p>
    <div class="clearfix">
      <%= link_to 'Редактировать', edit_section_path(@section), class:"btn btn-outline-primary"%> 
      <%= link_to '< Вернуться в курс', @section.course, class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
<br/>

<div class="card">
  <div class="card-header"> Уроки </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Логотип</th>
          <th>Порядковый номер</th>
          <th>Название</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @section.screencasts.order(:no).each do |screencast| %>
          <tr>
            <td><%= image_tag screencast.logo.url(:thumb) %></td>
            <td><%= screencast.no %></td>
            <td><%= screencast.name %></td>
            <td><%= link_to 'Show', screencast %></td>
            <td><%= link_to 'Edit', edit_screencast_path(screencast) %></td>
            <td><%= link_to 'Destroy', [@section,screencast], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Добавить новый урок', new_section_screencast_path(@section),class:"btn btn-outline-secondary" %>
  </div>
</div>

<div class="card">
  <div class="card-header">Экзаменационные вопросы</div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th>Сложность</th>
          <th>Вопрос</th>
          <th></th>
          <th>Балл</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @section.exams.order(:no).each do |exam| %>
          <tr>
            <td><%= exam.no%></td>
            <td><%= exam.question %></td>
            <td>
              <% exam.answers.each do |answer| %>
                <%= (answer.correct ? "+ " : "- ") + answer.value %>
                <br/>
              <% end %>
            </td>
            <td><%= exam.score %></td>
            <td><%= link_to 'Show', exam %></td>
            <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
            <td><%= link_to 'Destroy', [@section,exam], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %> </tbody>
    </table>
    <%= link_to 'Новый вопрос', new_section_exam_path(@section) ,class:"btn btn-outline-secondary" %>
  </div>
</div>
<br>

