<%= form_with(model: [@exam,@pic], local: true) do |form| %>
  <% if @pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pic.errors.count, "error") %> prohibited this pic from being saved:</h2>

      <ul>
        <% @pic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :img,"Рисунок" %>
    <%= form.file_field :img, id: :pic_img , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :title,"Название" %>
    <%= form.text_field :title, id: :pic_title , class:"form-control"%>
  </div>
  <div class="actions">
    <%= form.submit  class:"btn btn-outline-primary" %>
    <%= link_to 'Отмена',@pic.exam,class:"btn btn-outline-primary" %>
  </div>
<% end %>
