<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :no, 'Порядковый номер'%>
    <%= form.text_field :no, id: :subject_no, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :name,'Название'  %>
    <%= form.text_field :name, id: :subject_name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :lang,'Язык обучения(0-кыр.1-рус.)' %>
    <%= form.text_field :lang, id: :subject_lang, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description,'Описание'  %>
    <%= form.text_field :description, id: :subject_description , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :logo, 'Лого' %>
    <%= form.file_field :logo, id: :subject_logo , class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить", class:"btn btn-outline-primary" %>
<%= link_to 'Отмена', subjects_path,class:"btn btn-outline-primary" %>
  </div>
<% end %>
