<p id="notice"><%= notice %></p>

<h1>Список направлений</h1>

<table class="table">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Логотип</th>
      <th>Название</th>
      <th>Язык обучения</th>
      <th>Описание</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.no %></td>
        <td><%= image_tag subject.logo.url(:thumb) %></td>
        <td><%= subject.name %></td>
        <td><%= subject.lang==0?"Кыргызча":"Русский" %></td>
        <td><%= subject.description %></td>
        <td><%= link_to 'Открыть', subject %></td>
        <td><%= link_to 'Редактировать', edit_subject_path(subject) %></td>
        <td><%= link_to 'Удалить', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новое направление', new_subject_path %>
