<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
    <%= @subject.no %>.<%= @subject.name %>
  </div>
  <div class="card-body">
    <%= image_tag @subject.logo.url(:medium), class:"rounded float-left mr-3" %>
    <p class="card-text">Язык обучения: <%= @subject.lang==0?"Кыргызча":"Русский" %></p>
    <p class="card-text">Описание: <%= @subject.description %></p>
    <div class="clearfix">
      <%= link_to 'Редактировать', edit_subject_path(@subject), class:"btn btn-outline-primary"%> 
      <%= link_to 'Отмена', subjects_path, class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
<br/>

<div class="card">
  <div class="card-header">
    Курсы по направлению 
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Номер</th>
          <th>Логотип</th>
          <th>Название</th>
          <th>Описание</th>
          <th>Уровень</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @subject.courses.order(:no).each do |course| %>
          <tr>
            <td><%= course.no %></td>
            <td><%= image_tag course.logo.url(:thumb) %></td>
            <td><%= course.name %></td>
            <td><%= course.description %></td>
            <td><%= course.level %></td>
            <td><%= link_to 'Открыть', course %></td>
            <td><%= link_to 'Редактировать', edit_course_path(course) %></td>
            <td><%= link_to 'Удалить', [@subject,course], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<%= link_to 'Добавить новый курс', new_subject_course_path(@subject),class:"btn btn-outline-secondary" %>
  </div>
</div>
<br>

