<%= form_with(model: [testing,prob], local: true) do |form| %>
  <% if prob.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prob.errors.count, "error") %> prohibited this prob from being saved:</h2>

      <ul>
      <% prob.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :no, "Порядковый номер" %>
    <%= form.text_field :no, class:"form-control" %>
  </div>
  <div class="field form-group">
    <div class="checkbox-inline">
      <%= form.check_box :isinstruction%>
      <%= form.label :isformula, "Инструкция" %>
    </div>
  </div>
  <div class="field form-group">
    <%= form.label :question, "Вопрос" %>
    <%= form.text_area :question, class:"form-control",cols:40,rows:3 %>
  </div>
  <div class="field form-group">
    <%= form.label :details, "Детали" %>
    <%= form.text_area :details, class:"form-control",cols:40,rows:3 %>
  </div>
  <div class="field form-group">
    <%= form.label :img,"Рисунок" %>
    <%= form.file_field :img, class:"form-control" %>
  </div>

  <div class="field form-group">
    <div class="checkbox-inline">
      <%= form.check_box :isformula%>
      <%= form.label :isformula, "Формула" %>
    </div>
  </div>
  <div class="field form-group">
    <%= form.label :options, "Варианты ответов(каждый вариант отдельной строкой)" %>
    <%= form.text_area :options, id: :options, class:"form-control",:cols => 40, :rows => 6 %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить", class:"btn btn-outline-primary" %>
<%= link_to 'Отмена',testing||prob,class:"btn btn-outline-primary" %>
  </div>
<% end %>
