<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header"> 
    <%= @prob.no%>. <%= @prob.question%>
  </div>
  <div class="card-body">
    <p><%= @prob.details %></p>
    <%= image_tag @prob.img.url(:medium) %>
    <div class="clearfix">
      <%= link_to 'Закрыть', @prob.testing, class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
<br/>

<div class="card">
  <div class="card-header">Варианты ответов</div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th></th>
          <th>Вариант ответа</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @prob.opts.each do |opt| %>
          <tr>
            <td><%= opt.correct ? "Правильный" : "-" %></td>
            <td><%= opt.value %></td>
            <td><%= link_to 'Изменить', edit_opt_path(opt) %></td>
            <td><%= link_to 'Удалить', [opt.prob,opt], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Новый вариант ответа', new_prob_opt_path(@prob), class:"btn btn-outline-secondary" %>
  </div>
</div>
