<%= form_with(model:[section, screencast], local: true) do |form| %>
  <% if screencast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(screencast.errors.count, "error") %> prohibited this screencast from being saved:</h2>

      <ul>
      <% screencast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :no,"Порядковый номер" %>
    <%= form.text_field :no, id: :screencast_no , class:"form-control"%>
  </div>
  <div class="field form-group">
    <%= form.label :name,"Название" %>
    <%= form.text_field :name, id: :screencast_name , class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :logo,"Логотип" %>
    <%= form.file_field :logo, id: :screencast_video , class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :video,"Видео материал" %>
    <%= form.file_field :video, id: :screencast_video , class:"form-control"%>
  </div>
  <div class="field form-group">
    <%= form.label :header,"Верхний текст" %>
    <%= form.text_area :header, id: :screencast_header , class:"form-control",cols: "60", rows: "10" %>
  </div>
  <div class="field form-group">
    <%= form.label :footer,"Нижний текст" %>
    <%= form.text_area :footer, id: :screencast_footer , class:"form-control",cols: "60", rows: "10" %>
  </div>

  <div class="field form-group">
    <div class="checkbox-inline">
      <%= form.check_box :free %>
      <%= form.label :free, "Бесплатный видео материал" %><br>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить", class:"btn btn-outline-primary" %>
<%= link_to 'Отмена',section||screencast,class:"btn btn-outline-primary" %>
  </div>
<% end %>
