<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header"> 
<%= @screencast.no %>. <%= @screencast.name %>
  </div>
  <div class="card-body">
    <p><strong>Секция:</strong><%= link_to @screencast.section.name, @screencast.section %></p>
    <p><strong>Бесплатный:</strong><%= @screencast.free ? "Да" : "Нет" %></p>
    <p><strong>Верхний текст:</strong><br/><pre><%= @screencast.header %></pre></p>
    <p><strong>Нижний текст:</strong><br/><pre><%= @screencast.footer%></pre></p>
    <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" poster="<%=@screencast.logo.url%>" data-setup="{}">
      <source src="<%=@screencast.video.url.gsub("mp4","mp4.m3u8")%>" type='application/x-mpegURL'>
    </video>

    <script src="https://vjs.zencdn.net/7.0.3/video.js"></script>
    <div class="clearfix">
      <%= link_to 'Редактировать', edit_screencast_path(@screencast), class:"btn btn-outline-primary"%> 
      <%= link_to 'Вернуться в секцию', @screencast.section, class:"btn btn-outline-primary" %>
      <%= link_to 'Конвертировать видео', screencast_convert_video_path(@screencast), class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
<br/>

<div class="card">
  <div class="card-header">Вопросы домашнего задания</div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th>Сложность</th>
          <th>Вопрос</th>
          <th>Детальное описание вопроса</th>
          <th>Балл</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @screencast.quizzes.each do |quiz| %>
          <tr>
            <td><%= quiz.no %></td>
            <td><%= quiz.question %></td>
            <td><%= quiz.details %></td>
            <td><%= quiz.score %></td>
            <td><%= link_to 'Открыть', quiz %></td>
            <td><%= link_to 'Редактировать', edit_quiz_path(quiz) %></td>
            <td><%= link_to 'Удалить', [@screencast,quiz], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %> </tbody>
    </table>
    <%= link_to 'Добавить новый вопрос', new_screencast_quiz_path(@screencast) %>
  </div>
</div>
