<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
    <%= @course.no %>. <%= @course.name %>
  </div>
  <div class="card-body">
    <%image_tag @course.logo.url(:medium), class:"rounded float-left mr-3" %>
    <p class="card-text">Направление: <%=link_to @course.subject.name,@course.subject %></p>
    <p class="card-text">Описание: <%= @course.description %></p>
    <p><strong>Сложность: </strong><%= @course.level %></p>
    <div class="clearfix">
      <%= link_to 'Редактировать', edit_course_path(@course), class:"btn btn-outline-primary"%> 
      <%= link_to 'Вернуться в список курсов', @course.subject, class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
<br/>

<div class="card">
  <div class="card-header"> Части курса <%=@course.name%></div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Номер</th>
          <th>Название</th>
          <th>Описание</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @course.sections.order(:no).each do |section| %>
          <tr>
            <td><%= section.no %></td>
            <td><%= section.name %></td>
            <td><%= section.description%></td>
            <td><%= link_to 'Открыть', section %></td>
            <td><%= link_to 'Редактировать', edit_section_path(section) %></td>
            <td><%= link_to 'Удалить', [@course,section], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Создать новую часть', new_course_section_path(@course),class:"btn btn-outline-secondary" %>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">Лекторы курса</div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Имя</th>
          <th>Уровень(1-5)</th>
          <th>Степень</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @course.lectors.each do |lector| %>
          <tr>
            <td><%= image_tag lector.photo.url(:thumb) %></td>
            <td><%= lector.fullname %></td>
            <td><%= lector.level %></td>
            <td><%= lector.degree %></td>
            <td><%= link_to 'Destroy', remove_lector_path(@course.id,lector.id), data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
    <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Назначить учителя 
    </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Имя</th>
              <th>Уровень(1-5)</th>
              <th>Степень</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @lectors.each do |lector| %>
              <tr>
                <td><%= image_tag lector.photo.url(:thumb) %></td>
                <td><%= lector.fullname %></td>
                <td><%= lector.level %></td>
                <td><%= lector.degree %></td>
                <td><%= link_to 'Select', add_lector_path(@course.id, lector.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
