<p id="notice"><%= notice %></p>

<h1>Районы</h1>

<%= link_to 'Новый район', new_region_path %>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= link_to 'Школы', region %></td>
        <td><%= link_to 'Редактировать', edit_region_path(region) %></td>
        <td><%= link_to 'Удалить', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

