<p id="notice"><%= notice %></p>

<p>
<strong>Район:</strong>
<%= link_to @region.name, regions_path %> 
</p>

<h1>Школы</h1>
<%= link_to 'Новая школа', new_region_school_path(@region) %> 
<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @region.schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= link_to 'Изменить', edit_school_path(school) %></td>
        <td><%= link_to 'Удалить', [@region,school], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

