<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header"> 
    <%= @exam.no%>. <%= @exam.question%>
  </div>
  <div class="card-body">
    <p><strong>Детали к вопросу:</strong> <%= @exam.details %></p>
    <p><strong>Балл:</strong> <%= @exam.score %></p>
    <p><strong>Вопрос к секции:</strong> <%= link_to @exam.section.name, @exam.section%></p>
    <div class="clearfix">
      <%= link_to 'Edit EXAM Question', edit_exam_path(@exam), class:"btn btn-outline-primary"%> 
      <%= link_to 'Back to SECTION', @exam.section, class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
<br/>

<div class="card">
  <div class="card-header">Варианты ответов</div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th></th>
          <th>Вариант ответа</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @exam.answers.each do |answer| %>
          <tr>
            <td><%= answer.correct ? "Правильный" : "-" %></td>
            <td><%= answer.value %></td>
            <td><%= link_to 'Изменить', edit_answer_path(answer) %></td>
            <td><%= link_to 'Удалить', [answer.exam,answer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Новый вариант ответа', new_exam_answer_path(@exam), class:"btn btn-outline-secondary" %>
  </div>
</div>
<div class="card">
  <div class="card-header">Рисунки к вопросу</div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th>Название</th>
          <th>Рисунок</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @exam.pics.each do |pic| %>
          <tr>
            <td><%= pic.title %></td>
            <td><%= image_tag pic.img.url(:thumb) %></td>
            <td><%= link_to 'Изменить', edit_pic_path(pic) %></td>
            <td><%= link_to 'Удалить', [pic.exam,pic], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Новый рисунок', new_exam_pic_path(@exam), class:"btn btn-outline-secondary" %>
  </div>
</div>
