<!DOCTYPE html>
<html>
  <head>
    <title>OsAdmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://vjs.zencdn.net/7.0.3/video-js.css" rel="stylesheet">

    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="http://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  </head>

  <body>
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <div class="list-group">
            <%=link_to "Темы", subjects_path(), class: "list-group-item list-group-item-action"%>
            <%=link_to "Лекторы", lectors_path(), class: "list-group-item list-group-item-action"%>
            <%=link_to "Пользователи", users_path(), class: "list-group-item list-group-item-action"%>
            <%=link_to "Районы", regions_path(), class: "list-group-item list-group-item-action"%>
            <%=link_to "Пробные тесты", testings_path(), class: "list-group-item list-group-item-action"%>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
